<form class="form-horizontal create-cluster-form" action="/api/excel/rcsv" id="form1" name="form1" enctype="multipart/form-data" method="post" target="hidden_frame">
  <fieldset>
    <div class="control-group">
         <label class="control-label">下载模板</label>
         <div class="controls">
             <a href='/static/templates/excel/excelTemplate.xls'  target='_blank' class="btn btn-info">
                 <i class='icon-install'></i>
               <span>下载</span>
             </a>
        <button type="button" style="visibility:hidden" id='btn_callback'></button>
        <button type="button" style="visibility:hidden" id='btn_render'></button>
       </div>
    </div>
    <div class="control-group" id="control-group">
          <label class="control-label">导入数据</label>
    <div class="controls" style="position:relative">
        <input type="text" class="input-large" name="txtname" id="txtname" style='width:210px' />
        <input type="file" class="input-large" name="myfile" id="myfile" style='position:absolute; top:10; left:70px; height:34px; filter:alpha(opacity:0);opacity:0;width:210px' />
       <button class="btn" id='btnviewexcel'>浏览</button>
       <button type='submit' class="btn btn-success" id='btn_import'>导入</button>
       <span class="help-inline" id="msgsucess" style='display:none'>
           <font color='green'>导入数据成功</font>
       </span>
       <span class="help-inline" id="msgfail" style='display:none'>
           <font color='red'>导入程序异常</font>
       </span>
    </div>
   </fieldset>
    <iframe name='hidden_frame' id="hidden_frame" style='display:none'>
    </iframe>
  </form>
  


